.wrap {
    width: 560px;
    padding: 15px;
    background: rgb(236, 236, 236);
    position: fixed;
    top: 20%;
    left: calc(50% - 210px);
    box-shadow: 0 0 10px greenyellow;
}

.hidden {
    display: none;
}

span {
    position: absolute;
    right: -15px;
    top: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: lightgrey;
    font-size: 34px;
    cursor: pointer;
    transition: 0.5s;
}

span:hover {
    background: grey;
    color: white;
}